body {
  background: #23252c;
  box-sizing: border-box;
  margin: 0;
}

.image {
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0px 0px;
  background: url(https://randomuser.me/api/portraits/men/1.jpg);
  background-repeat: no-repeat ;
}
.content{
  padding: 20px;
  display: flex;
  flex-direction: column;

}
